<app-navbar></app-navbar>
<div class="home-container">
  <div class="welcome-message">
    <img src="PSF_Logo.png" alt="Professionals Solidarity Forum Logo" class="logo">
    <h1>Welcome to Professionals Solidarity Forum</h1>
    <p>Join our community of professionals today</p>
  </div>

  <div class="auth-buttons">
    <button mat-raised-button color="primary" routerLink="/membership-selection" class="auth-button">
      Login
    </button>
    <button mat-raised-button color="accent" (click)="signup()" class="auth-button">
      Sign Up
    </button>
  </div>
</div>
<app-footer></app-footer>
