<!-- register.component.html -->
<!-- <div class="register-container">
  <mat-card class="register-card">
    <mat-card-content>
     
      <ng-container *ngIf="!isAuthenticated">
        <div style="text-align: center; margin: 1rem 0;">
          <button mat-raised-button color="primary" (click)="login()">Login</button>
          <button mat-raised-button color="accent" (click)="signup()">Sign Up</button>
        </div>
      </ng-container>

     
      <ng-container *ngIf="isAuthenticated && !paymentDone">
        <div style="text-align: center; margin: 2rem 0;">
          <button mat-raised-button color="primary" (click)="payNow()">Pay ₹300</button>
        </div>
      </ng-container>

     
      <ng-container *ngIf="isAuthenticated && paymentDone">
        <p style="text-align: center;">Payment completed! Redirecting to dashboard...</p>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div> -->
